body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 1.25em;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

button.btn-table {
    height: 30px;
    min-width: 75px;
    padding: 2px;
}

.btn-group {
    padding-left: 2px;
    padding-right: 2px;
}

.table-container-hidden {
    overflow: hidden;
    height: 0;
    width: 100%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.panel-heading {
    padding: 5px 5px;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

.input-group-addon {
    font-size: 20px;
    padding: 5px 5px;
}

body.modal-open .modal {
    display: flex !important;
    height: 100%;
    align-items: center;
}

body.modal-open .modal .modal-dialog {
    margin: auto;
}

.modal.fade .modal-dialog {
    -webkit-transition: opacity .01s linear;
    -o-transition: opacity .01s linear;
}

.modal-xl {
    width: 80%;
}

body.waiting * {
    cursor: progress;
}

