@model MagicHamster.GrocerySamurai.Model.Entities.Store

@{
    ViewData["Title"] = "Edit Store";
}

<h2>Edit</h2>

<h4>Store</h4>
<hr />

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    @await Html.PartialAsync("_Common", Model)
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
